body {
  color: white;
}

.skills-container {
  margin-top: 70px;
  padding: 0;
  text-align: center;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.skills-container.visible {
  opacity: 1;
  transform: translateX(0);
}

.skill-category {
  margin-bottom: 20px;
  color: white !important;
}

.skill-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  justify-content: center;
  place-items: center; /* Centers items in the grid */
  gap: 40px;
  margin: auto;
  margin-bottom: 28px;
  width: 100%;
  max-width: 600px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 10px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.skill-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  animation: bounce 2s infinite;
  margin: 20px 20px 20px 20px;
}

/* Responsive Adjustments */
@media (max-width: 850px) {
  .skill-list {
    gap: 24px;
    width: 100%;
  }

  .skill-icon {
    width: 60px;
    height: 60px;
    margin: 15px;
  }
}

@media (max-width: 600px) {
  .skill-list {
    gap: 16px;
  }

  .skill-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
  }

  .title {
    font-size: 36px;
    line-height: 48px;
  }
}

@media (max-width: 400px) {
  .skill-list {
    gap: 12px;
  }

  .skill-icon {
    width: 40px;
    height: 40px;
    margin: 8px;
  }

  .title {
    font-size: 28px;
    line-height: 40px;
  }
}

.title {
  color: white;
  padding: 55px 0;
  font: normal bold 50px / 72px "Font Name", "Share Tech Mono", cursive;
}

.category-spacing {
  display: block;
  height: 50px;
}
